@import "tailwindcss";

:root {
  --background: #b1ada1;
  --foreground: #171717;
  --card: #f4f3ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Sobrescribir fondos blancos con el color crema */
.bg-white {
  background-color: var(--card) !important;
}

.bg-gray-50 {
  background-color: var(--card) !important;
}